USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_BaseIndustria_MontosCreditoConsumo]    Script Date: 27-05-2026 14:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[Etl_BaseIndustria_MontosCreditoConsumo]
AS


DECLARE @CAJAS AS TABLE(ORDEN INT, NOMBRE VARCHAR(20))
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(1, 'DE LOS ANDES')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(2, 'LA ARAUCANA')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(3, 'LOS HEROES')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(4, '18 DE SEPTIEMBRE')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(5, 'G.MISTRAL')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(6, 'LOS HEROES	')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(6, 'LOS HEROES ')


UPDATE [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] SET F1='LOS HEROES' WHERE F1='LOS HEROES	'
UPDATE [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] SET F1='LOS HEROES' WHERE F1='LOS HEROES '
UPDATE [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] SET F1='18 DE SEPTIEMBRE' WHERE F1='18 DE SEPT.'
UPDATE [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] SET F1='DE LOS ANDES' WHERE F1='C.C.A.F.'


IF OBJECT_ID('tempdb.dbo.#MONTO', 'U') IS NOT NULL DROP TABLE #MONTO;

-- AGREGA NUMERO DE FILAS 
/*
SELECT ROW_NUMBER() OVER(PARTITION BY F13 ORDER BY F13 ) AS COL	,*
--INTO #MONTO
FROM [dbo].[tmp_MONTO_CREDITOS_PRUEBAS]
*/
SELECT ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS COL
    ,*
INTO #MONTO
FROM ESTUDIOSCOMERCIALES.[dbo].[tmp_MONTO_CREDITOS]





TRUNCATE TABLE [dbo].[tmp_BaseIndustrias_MontosCreditoConsumo] 

INSERT INTO [dbo].[tmp_BaseIndustrias_MontosCreditoConsumo] ([AÑO],[TIPO],[CCAF],[ENERO],[FEBRERO],[MARZO],[ABRIL],[MAYO],[JUNIO],[JULIO],[AGOSTO],[SEPTIEMBRE],[OCTUBRE],[NOVIEMBRE],[DICIEMBRE])
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] WHERE F1 LIKE '%AÑO%') AÑO,
'TOTAL' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #MONTO
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 34 AND 37 --numero de columna donde se encuentran los datos a instalar
UNION ALL
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] WHERE F1 LIKE '%AÑO%') AÑO,
'TRABAJADOR' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #MONTO
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 74 AND 77 --numero de columna donde se encuentran los datos a instalar
UNION ALL
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] WHERE F1 LIKE '%AÑO%') AÑO,
'PENSIONADO' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #MONTO
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 114 AND 117 --numero de columna donde se encuentran los datos a instalar



DELETE FROM [dbo].[tmp_BaseIndustrias_MontosCreditoConsumo] WHERE AÑO IS NULL AND CCAF IS NULL

SET LANGUAGE Spanish -- PARA LOS MESES EN ESPAÑOL

IF OBJECT_ID('tempdb.dbo.#TABLA_PIVOT_MontosCreditoConsumo', 'U') IS NOT NULL DROP TABLE #TABLA_PIVOT_MontosCreditoConsumo;

SELECT AÑO,MES, TIPO,CCAF,MONTO_CREDITO,CONVERT (DATE,(cast (AÑO as varchar)+'-'+MES+'-01'),23) AS FECHA
INTO #TABLA_PIVOT_MontosCreditoConsumo
FROM [dbo].[tmp_BaseIndustrias_MontosCreditoConsumo]
UNPIVOT (MONTO_CREDITO FOR MES IN ([ENERO],[FEBRERO],[MARZO],[ABRIL],[MAYO],[JUNIO],[JULIO],[AGOSTO],[SEPTIEMBRE],[OCTUBRE],[NOVIEMBRE],[DICIEMBRE])) AS P


/**SE DEBE REALIZAR COPIA DE LA BASE FINAL E INSERTAR PARA TERMINAR LA PRUEBA*/
DELETE FROM [dbo].[BaseIndustrias_MontosCreditoConsumo] WHERE AÑO =(SELECT DISTINCT AÑO FROM #TABLA_PIVOT_MontosCreditoConsumo)

INSERT INTO   [dbo].[BaseIndustrias_MontosCreditoConsumo] (AÑO,MES, TIPO,CCAF,MONTO_CREDITO,FECHA)
SELECT AÑO,MES, TIPO,CCAF,MONTO_CREDITO,FECHA
FROM #TABLA_PIVOT_MontosCreditoConsumo

