USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_BaseIndustria_TasaCredito]    Script Date: 27-05-2026 14:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[Etl_BaseIndustria_TasaCredito]
AS
DECLARE @CAJAS AS TABLE(ORDEN INT, NOMBRE VARCHAR(20))
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(1, 'DE LOS ANDES')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(2, 'LA ARAUCANA')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(3, 'LOS HEROES')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(4, '18 DE SEPTIEMBRE')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(5, 'G.MISTRAL')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(6, 'LOS HEROES	')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(6, 'LOS HEROES ')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(7, 'Todas las CCAF')


UPDATE [dbo].[tmp_TASA] SET F1='Los Heroes' WHERE F1='LOS HEROES	'
UPDATE [dbo].[tmp_TASA] SET F1='Los Heroes' WHERE F1='LOS HEROES '
UPDATE [dbo].[tmp_TASA] SET F1='Los Heroes' WHERE F1 like '%Los%Héroes%'
UPDATE [dbo].[tmp_TASA] SET F1='Los Heroes' WHERE F1 like '%Los%Heroes%'
UPDATE [dbo].[tmp_TASA] SET F1='18 de Septiembre' WHERE F1='18 DE SEPT.'


IF OBJECT_ID('tempdb.dbo.#TASA', 'U') IS NOT NULL DROP TABLE #TASA;

-- AGREGA NUMERO DE FILAS 
SELECT ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS COL
    ,*
INTO #TASA
FROM ESTUDIOSCOMERCIALES.[dbo].TMP_TASA

TRUNCATE TABLE [dbo].[tmp_BaseIndustrias_Tasas] 


INSERT INTO [dbo].[tmp_BaseIndustrias_Tasas] ([AÑO],[TIPO],[CCAF],[ENERO],[FEBRERO],[MARZO],[ABRIL],[MAYO],[JUNIO],[JULIO],[AGOSTO],[SEPTIEMBRE],[OCTUBRE],[NOVIEMBRE],[DICIEMBRE])
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] WHERE F1 LIKE '%AÑO%') AÑO,
'TOTAL' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #TASA
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 4 AND 8 --numero de columna donde se encuentran los datos a instalar
UNION ALL
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] WHERE F1 LIKE '%AÑO%') AÑO,
'TRABAJADOR' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #TASA
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 14 AND 18 --numero de columna donde se encuentran los datos a instalar
UNION ALL
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].[tmp_MONTO_CREDITOS_PRUEBAS] WHERE F1 LIKE '%AÑO%') AÑO,
'PENSIONADO' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #TASA
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 24 AND 28 --numero de columna donde se encuentran los datos a instalar


SET LANGUAGE Spanish -- PARA LOS MESES EN ESPAÑOL

IF OBJECT_ID('tempdb.dbo.#TABLA_PIVOT_TASA', 'U') IS NOT NULL DROP TABLE #TABLA_PIVOT_TASA;

SELECT AÑO,MES, TIPO,CCAF,TASA,CONVERT (DATE,(cast (AÑO as varchar)+'-'+MES+'-01'),23) AS FECHA
INTO #TABLA_PIVOT_TASA
FROM [dbo].[tmp_BaseIndustrias_Tasas]
UNPIVOT (TASA FOR MES IN ([ENERO],[FEBRERO],[MARZO],[ABRIL],[MAYO],[JUNIO],[JULIO],[AGOSTO],[SEPTIEMBRE],[OCTUBRE],[NOVIEMBRE],[DICIEMBRE])) AS P

DELETE FROM #TABLA_PIVOT_TASA WHERE TASA=0

DELETE FROM [dbo].[BaseIndustrias_Tasas] WHERE AÑO =(SELECT DISTINCT AÑO FROM #TABLA_PIVOT_TASA)

INSERT INTO   [dbo].[BaseIndustrias_Tasas] (AÑO,MES, TIPO,CCAF,TASA,FECHA)
SELECT AÑO,MES, TIPO,CCAF,replace(round(TASA,4),'.',',') AS TASA,FECHA
FROM #TABLA_PIVOT_TASA

