USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_BaseIndustria_TotalCreditoConsumo]    Script Date: 27-05-2026 14:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[Etl_BaseIndustria_TotalCreditoConsumo]
AS


DECLARE @CAJAS AS TABLE(ORDEN INT, NOMBRE VARCHAR(20))
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(1, 'DE LOS ANDES')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(2, 'LA ARAUCANA')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(3, 'LOS HEROES')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(4, '18 DE SEPTIEMBRE')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(5, 'G.MISTRAL')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(6, 'LOS HEROES	')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(7, 'LOS HEROES ')

UPDATE [dbo].TMP_N_CREDITOS_PRUEBAS SET F1='LOS HEROES' WHERE F1='LOS HEROES	'
UPDATE [dbo].TMP_N_CREDITOS_PRUEBAS SET F1='LOS HEROES' WHERE F1='LOS HEROES '
UPDATE [dbo].TMP_N_CREDITOS_PRUEBAS SET F1='18 DE SEPTIEMBRE' WHERE F1='18 DE SEPT.'


IF OBJECT_ID('tempdb.dbo.#NUMERO', 'U') IS NOT NULL DROP TABLE #NUMERO;

SELECT ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS COL
    ,*
INTO #NUMERO
FROM ESTUDIOSCOMERCIALES.[dbo].TMP_N_CREDITOS



TRUNCATE TABLE [dbo].[tmp_BaseIndustrias_TotalCreditosConsumo] 

INSERT INTO [dbo].[tmp_BaseIndustrias_TotalCreditosConsumo] ([AÑO],[TIPO],[CCAF],[ENERO],[FEBRERO],[MARZO],[ABRIL],[MAYO],[JUNIO],[JULIO],[AGOSTO],[SEPTIEMBRE],[OCTUBRE],[NOVIEMBRE],[DICIEMBRE])
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].TMP_N_CREDITOS_PRUEBAS WHERE F1 LIKE '%AÑO%') AÑO,
'TOTAL' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #NUMERO
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 30 AND 33
UNION ALL
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].TMP_N_CREDITOS_PRUEBAS WHERE F1 LIKE '%AÑO%') AÑO,
'TRABAJADOR' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #NUMERO
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 66 AND 69
UNION ALL
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].TMP_N_CREDITOS_PRUEBAS WHERE F1 LIKE '%AÑO%') AÑO,
'PENSIONADO' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #NUMERO
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 102 AND 105


DELETE FROM [dbo].BaseIndustrias_TotalCreditosConsumo WHERE AÑO IS NULL AND CCAF IS NULL

SET LANGUAGE Spanish -- PARA LOS MESES EN ESPAÑOL

IF OBJECT_ID('tempdb.dbo.#TABLA_PIVOT_TotalCreditosConsumo', 'U') IS NOT NULL DROP TABLE #TABLA_PIVOT_TotalCreditosConsumo;

SELECT AÑO,MES, TIPO,CCAF,TOTAL_CREDITO,CONVERT (DATE,(cast (AÑO as varchar)+'-'+MES+'-01'),23) AS FECHA
INTO #TABLA_PIVOT_TotalCreditosConsumo
FROM [dbo].[tmp_BaseIndustrias_TotalCreditosConsumo]
UNPIVOT (TOTAL_CREDITO FOR MES IN ([ENERO],[FEBRERO],[MARZO],[ABRIL],[MAYO],[JUNIO],[JULIO],[AGOSTO],[SEPTIEMBRE],[OCTUBRE],[NOVIEMBRE],[DICIEMBRE])) AS P


DELETE FROM [dbo].BaseIndustrias_TotalCreditosConsumo WHERE AÑO =(SELECT DISTINCT AÑO FROM #TABLA_PIVOT_TotalCreditosConsumo)

INSERT INTO   [dbo].BaseIndustrias_TotalCreditosConsumo (AÑO,MES, TIPO,CCAF,TOTAL_CREDITO,FECHA)
SELECT AÑO,MES, TIPO,CCAF,TOTAL_CREDITO,FECHA
FROM #TABLA_PIVOT_TotalCreditosConsumo

