USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_BaseIndustria_CantidadAfiliado]    Script Date: 27-05-2026 14:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[Etl_BaseIndustria_CantidadAfiliado]
AS
DECLARE @CAJAS AS TABLE(ORDEN INT, NOMBRE VARCHAR(20))
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(1, 'DE LOS ANDES')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(2, 'LA ARAUCANA')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(3, 'LOS HEROES')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(4, '18 DE SEPTIEMBRE')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(5, 'G.MISTRAL')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(6, 'LOS HEROES	')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(6, 'LOS HEROES ')
INSERT INTO @CAJAS(ORDEN, NOMBRE) VALUES(7, 'Todas las CCAF')


UPDATE [dbo].[tmp_TASA] SET F1='Los Heroes' WHERE F1='LOS HEROES	'
UPDATE [dbo].[tmp_TASA] SET F1='Los Heroes' WHERE F1='LOS HEROES '
UPDATE [dbo].[tmp_TASA] SET F1='Los Heroes' WHERE F1 like '%Los%Héroes%'
UPDATE [dbo].[tmp_TASA] SET F1='Los Heroes' WHERE F1 like '%Los%Heroes%'
UPDATE [dbo].[tmp_TASA] SET F1='18 de Septiembre' WHERE F1='18 DE SEPT.'


IF OBJECT_ID('tempdb.dbo.#AFILI', 'U') IS NOT NULL DROP TABLE #AFILI;

-- AGREGA NUMERO DE FILAS 
SELECT ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS COL
    ,*
INTO #AFILI
FROM ESTUDIOSCOMERCIALES.[dbo].TMP_CANTAFILIADOS

select *
from #AFILI



TRUNCATE TABLE [dbo].[tmp_BaseIndustrias_CantidadAfiliados] 

INSERT INTO [dbo].[tmp_BaseIndustrias_CantidadAfiliados] ([AÑO],[TIPO],[CCAF],[ENERO],[FEBRERO],[MARZO],[ABRIL],[MAYO],[JUNIO],[JULIO],[AGOSTO],[SEPTIEMBRE],[OCTUBRE],[NOVIEMBRE],[DICIEMBRE])
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].TMP_N_CREDITOS_PRUEBAS WHERE F1 LIKE '%AÑO%') AÑO,
'TOTAL' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #AFILI
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 3 AND 6
UNION ALL
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].TMP_N_CREDITOS_PRUEBAS WHERE F1 LIKE '%AÑO%') AÑO,
'TRABAJADOR' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #AFILI
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 12 AND 15
UNION ALL
select (SELECT DISTINCT(SUBSTRING(F1,5,4)) FROM [dbo].TMP_N_CREDITOS_PRUEBAS WHERE F1 LIKE '%AÑO%') AÑO,
'PENSIONADO' TIPO,
F1 CCAF, 	F2 ENERO , 	F3 FEBRERO, 	F4 MARZO, 	F5 ABRIL, 	F6 MAYO, 	F7 JUNIO, 	F8 JULIO, 	F9 AGOSTO, 	F10 SEPTIEMBRE, 	F11 OCTUBRE, 	F13 NOVIEMBRE, 	F14 DICIEMBRE
from #AFILI
WHERE F1 IN  (SELECT NOMBRE FROM @CAJAS)
AND COL BETWEEN 21 AND 24


DELETE FROM [dbo].[BaseIndustrias_CantidadAfiliados] WHERE AÑO IS NULL AND CCAF IS NULL

SET LANGUAGE Spanish -- PARA LOS MESES EN ESPAÑOL

IF OBJECT_ID('tempdb.dbo.#TABLA_PIVOT_CantidadAfiliado', 'U') IS NOT NULL DROP TABLE #TABLA_PIVOT_CantidadAfiliado;

SELECT AÑO,MES, TIPO,CCAF,TOTAL_CREDITO,CONVERT (DATE,(cast (AÑO as varchar)+'-'+MES+'-01'),23) AS FECHA
INTO #TABLA_PIVOT_CantidadAfiliado
FROM [dbo].[tmp_BaseIndustrias_CantidadAfiliados]
UNPIVOT (TOTAL_CREDITO FOR MES IN ([ENERO],[FEBRERO],[MARZO],[ABRIL],[MAYO],[JUNIO],[JULIO],[AGOSTO],[SEPTIEMBRE],[OCTUBRE],[NOVIEMBRE],[DICIEMBRE])) AS P


DELETE FROM [dbo].BaseIndustrias_CantidadAfiliados WHERE AÑO =(SELECT DISTINCT AÑO FROM #TABLA_PIVOT_TotalCreditosConsumo)

INSERT INTO   [dbo].[BaseIndustrias_CantidadAfiliados] (AÑO,MES, TIPO,CCAF,TOTAL_CREDITO,FECHA)
SELECT AÑO,MES, TIPO,CCAF,TOTAL_CREDITO,FECHA
FROM #TABLA_PIVOT_CantidadAfiliado
order by fecha desc


DECLARE @anioMes          VARCHAR(10)
DECLARE @FechaUltimoValor DATE

DECLARE cur_MesesSinDatos CURSOR FOR
    SELECT DISTINCT FORMAT(FECHA, 'yyyy-MM-01')
    FROM #TABLA_PIVOT_CantidadAfiliado
    WHERE FECHA <= FORMAT(GETDATE(), 'yyyy-MM-01')  
    GROUP BY FECHA
    HAVING SUM(TOTAL_CREDITO) = 0                   
    ORDER BY FORMAT(FECHA, 'yyyy-MM-01') ASC        

OPEN cur_MesesSinDatos
FETCH NEXT FROM cur_MesesSinDatos INTO @anioMes

WHILE @@FETCH_STATUS = 0
BEGIN

    SET @FechaUltimoValor = (
        SELECT TOP 1 FECHA
        FROM #TABLA_PIVOT_CantidadAfiliado
        WHERE TOTAL_CREDITO <> 0
          AND FECHA < @anioMes        
        ORDER BY FECHA DESC
    )

    IF @FechaUltimoValor IS NOT NULL
    BEGIN
        DELETE FROM [dbo].BaseIndustrias_CantidadAfiliados WHERE FECHA = @anioMes

        INSERT INTO [dbo].[BaseIndustrias_CantidadAfiliados] (AÑO, MES, TIPO, CCAF, TOTAL_CREDITO, FECHA)
        SELECT 
            AÑO,
            UPPER(DATENAME(MONTH, @anioMes)) AS MES,
            TIPO,
            CCAF,
            TOTAL_CREDITO,
            @anioMes AS FECHA
        FROM #TABLA_PIVOT_CantidadAfiliado
        WHERE FECHA = @FechaUltimoValor

        PRINT 'Mes ' + @anioMes + ' cargado con datos de: ' + CAST(@FechaUltimoValor AS VARCHAR)
    END
    ELSE
    BEGIN
        PRINT 'Mes ' + @anioMes + ' sin mes anterior válido. Se omite.'
    END

    FETCH NEXT FROM cur_MesesSinDatos INTO @anioMes
END

CLOSE cur_MesesSinDatos
DEALLOCATE cur_MesesSinDatos
  
